<form action="{{ path('app_oeuvre_delete', {'id': oeuvre.id}) }}" method="post" style="display:inline;">
    <button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ oeuvre.id) }}">
</form>