{% extends 'base.html.twig' %}

{% block title %}Ajouter une Oeuvre{% endblock %}

{% block body %}
    <h1>Ajouter une Oeuvre</h1>

    {{ include('oeuvre/_form.html.twig', {'button_label': 'Créer'}) }}

{% endblock %}