{% extends 'base.html.twig' %}

{% block title %}Modifier un Visiteur{% endblock %}

{% block body %}
    <h1>Modifier un Visiteur</h1>

    {{ include('visiteur/_form.html.twig', {'form': form, 'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('visiteur_index') }}" class="btn btn-secondary mt-3">Retour à la liste</a>
{% endblock %}
